@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
    border: none;
    outline: none;
    transition: all 0.2s ease;
}

:root {
    --bg-color: #081b29;
    --second-bg-color: #112e42;
    --text-color: #ededed;
    --main-color: #3ec5ff;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: "Poppins", sans-serif;
}

.hero {
    background-image: url("../images/home.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
}

.header {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    padding: 2rem 9%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.6rem;
    background-color: transparent;
    z-index: 5;
    border-bottom: 1px solid rgba(180, 166, 166, 0.098);
    backdrop-filter: blur(5px);
}

.header .hr {
    background-color: rgb(169, 166, 166);
    height: 30px;
}

.header img {
    background-color: rgba(255, 255, 255, 0.21);
    border-radius: 5px;
    margin-right: 5px;
}

.logo {
    font-size: 2.5rem;
    color: var(--text-color);
    font-weight: 600;
}

.header nav {
    display: flex;
    gap: 2.5rem;
}

.header nav a:hover {
    color: var(--main-color);
}

.header nav a.active {
    color: var(--main-color);
}

#menu-icon {
    font-optical-sizing: 3.2rem;
    color: var(--text-color);
    cursor: pointer;
    display: none;
}

.home-section {
    min-height: 70vh;
    padding: 10rem 9% 2rem;
}

.home-content {
    max-width: 60rem;
}

.home-content h1 {
    font-size: 5.6rem;
    line-height: 1.3;
}

.home-content .text-animate {
    position: relative;
    width: 32.8rem;
}

.home-content .text-animate h3 {
    font-size: 3.2rem;
    font-weight: 700;
    color: transparent;
    -webkit-text-stroke: 0.7px var(--main-color);
    z-index: 1;
    overflow: hidden;
}

.btn {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 34.5rem;
    height: 5rem;
}

.btn a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 15rem;
    height: 100%;
    background-color: var(--main-color);
    border: 2px solid var(--main-color);
    color: var(--bg-color);
    border-radius: 0.8rem;
    font-size: 1.6rem;
    font-weight: 700;
    letter-spacing: 0.1rem;
    z-index: 1;
    overflow: hidden;
}

.btn :nth-child(2) {
    background-color: transparent;
    color: var(--main-color);
}

.home-content .btn :nth-child(2):hover {
    color: var(--bg-color);
}

.btn :nth-child(1)::before {
    background-color: var(--bg-color);
}

.btn :nth-child(1):hover {
    color: var(--main-color);
}

.btn a::before {
    content: "";
    width: 0;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 5px;
    background-color: var(--main-color);
    color: var(--bg-color);
    z-index: -1;
    transition: all 0.5s ease;
}

.btn a:hover::before {
    width: 100%;
}

.social-media {
    position: absolute;
    bottom: 4rem;
    width: 170px;
    display: flex;
    justify-content: space-between;
}

.social-media a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--bg-color);
    border: 2px solid var(--main-color);
    font-size: 2rem;
    color: var(--main-color);
    overflow: hidden;
    z-index: 1;
    transition: all 0.1s ease;
}

.social-media a::before {
    content: "";
    width: 0;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.3s ease;
    background-color: var(--main-color);
}

.social-media a:hover::before {
    width: 100%;
    background-color: var(--main-color);
}

.social-media a:hover {
    color: #051018;
}

.img-hover {
    position: absolute;
    top: 0;
    right: 0;
    width: 45%;
    height: 100%;
    background: transparent;
    background-color: var(--bg-color);
    opacity: 0.2;
}

.img-hover:hover {
    background-color: var(--bg-color);
    opacity: 0.5;
}

/* about section */

.about-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--second-bg-color);
    padding: 3rem 9% 2rem;
    background: linear-gradient(to bottom, #081b29, #112e42);

}

.about-section h3 {
    font-size: 5rem;
    margin-bottom: 3rem;
    text-align: center;
}

.about-section h3 span, .education-section h3 span {    
    color: var(--main-color);
}

.about-img {
    position: relative;
    width: 25rem;
    height: 25rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-img img {
    width: 90%;
    height: 90%;
    border-radius: 50%;
    border: 2px solid var(--main-color);
}

.circle-spin {
    position: absolute;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border-top: 0.3rem solid transparent;
    border-bottom: 0.3rem solid transparent;
    border-left: 0.3rem solid var(--main-color);
    border-right: 0.3rem solid var(--main-color);
    animation: spin 1.5s infinite; 
}

@keyframes spin-round {
    from {
        rotate: 0;
    }
    to {
        rotate: 360deg;
    }
}

.about-content {
    text-align: center;
}

.about-content .head {
    font-size: 2.6rem;
}

.about-content p {
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
}

.about-content .btn {
    display: inline-block;
    width: 15rem;
}

.about-content .btn a {
    font-weight: 600 !important;
}

.about-content .btn a::before {
    background-color: var(--second-bg-color);
}

/* education section */

.education-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 3rem 9% 2rem;
    padding-bottom: 5rem;
    background-color: var(--second-bg-color);
}

.education-section .education-row {
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
}

.education-section .education-row > * {
    flex: 1;
    /* min-width: ; */
}

.education-row .education-content {
    flex-direction: 1 1 40rem;
}

.education-row .education-col .title {
    font-size: 2.5rem; 
    margin: 0 0 1.5rem 2rem;
    font-weight: 600;
}

.education-row .education-box {
    border-left: .2rem solid var(--main-color);
}

.education-content .content p {
    font-size: 1.3rem;
}

.education-box .education-content {
    position: relative;
     padding-left: 2rem;
}

.education-box .education-content::before {
    content: '';
    position: absolute;
    top: 0;
    left: -11px;
    width: 2rem;
    height: 2rem;
    border: 2px solid var(--main-color);
    border-radius: 50%;
    background-color: var(--second-bg-color);
}

.education-content .content {
    position: relative;
    border: .2rem solid var(--main-color);
    border-radius: .6rem;
    margin-bottom: 2rem;
    padding: 2rem;
    transform: all .5s ease;
}

.education-content .content::before {
    content: '';
    position: absolute;
    width: 0;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
    background-color: #3ec5ff1f;
    transition: all .5s ease;
}

.education-content .content:hover::before {
    width: 100%;
}

.education-box .content .year {
    font-size: 1.5rem;
    color: var(--main-color);
    padding-bottom: .5rem;
}

.education-box .content .year svg {
    color: var(--main-color);
}

.education-content .content .year i {
    padding-right: .5rem;
}

